logs
mods
saves
.mixin.out
resourcepacks
.curseclient
*schematics
options.txt
reauth.toml
*local
XaeroWaypoints*
servers.dat
usercache.json
usernamecache.json
minecolonies
structurize
patchouli_books
woot
dumps
debug
crash-reports